@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Inter", sans-serif;
}

body {
    background-color: #f9f9f9; /* Fundo claro */
    color: #333; /* Texto mais escuro para contraste */
    transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark {
    background-color: #000000; /* Fundo preto verdadeiro */
    color: #ffffff; /* Texto branco para contraste */
}

body.dark selection {
    background-color: #333333; /* Seleção com fundo escuro */
    color: #ffffff; /* Texto de seleção branco */
}

html {
    scroll-behavior: smooth;
}
